*{
    margin:0;
}
body{
    background-color: dodgerblue;
    color: white;
    padding: 0 2%
}
h1{
    font-size: 50px;
    text-align: center;
}
p{
    font-size: 18pt;
}
input{
    display: block;
    width: 20%;
    margin: 1%;
    border: 5px solid orange;
    border-radius: 25px;
    height: 30px;
    font-size: 100%;
    padding: 1% 2%;
    color: rgb(196,130,6);
}
input::placeholder{
    color: orange;
}
#output{
    color: rgb(246, 181, 61);
    font-size: 40px;
    border: 2px pink solid;
    width: 50%;
        padding: 0 2%;
        box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);
}