*{
    margin: 0;
}
body{
    background-color: tomato;
    color: white;
    padding: 0 2%;
}
.form{
    padding: 2%;
    margin: 2%;
    background-color: aquamarine;
    color: tomato;
    font-size: 20pt;
}
.form input{
    display: block;
    width: 80%;
    padding: 1%
}