html, boby{
    margin: 0;
}
body{
    background-color: dodgerblue;
    font-size: 20px;
}
h1{
    color: blue;
    font-size: 40px;
    text-align: center;
}
#reset{
    display:none;
}
#guess{
    width: 100px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: black;
    border-color: orange;
    outline: none;
    box-shadow: 0px 0px 0px 4px orange;
}
#output{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

#reset{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: mediumspringgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}